body{
	width: auto;
	height: auto;
	background-image: url(https://cortex.mikado-themes.com/wp-content/uploads/2017/06/h15-img-1a.jpg);
	background-size: cover;
	/*background-position: left right top bottom;*/
	background-position: top;
}
.container{
	width: 1300px;
	height: auto;
	margin: auto;
	//border-left: 1px solid yellow;
	//border-right: 1px solid yellow;
}
.big-title{
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 110px;
	//border: 1px solid blue;
}
.big-title .color-white{
	color: white;
}
.big-title .color-red{
	color: #ff4757;
}
.line{
	margin-top: 10px;
	border-top: 5px solid #ff4757;
	width: 350px;
}
.block-menu{
	color: white;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	line-height: 30px;
	margin: 30px 0px;
	//background-color: green;
}
.menu-title{
	color: white;
	font-size: 22px;
	//background-color: blue;
}
ul{
	//background-color: pink;
	text-align: left
	margin:0px;
	padding: 0px;
}
li{	list-style: none;}
i{
	/*font-size: 0px;*/
	opacity: 0;
	color: #3498db;
}
.menu-item{
	//background-color: grey;
	text-decoration: none;
	font-size: 16px;
	color: #f1f2f6;

	margin-left: -16px;
}
.menu-item:hover i{
	//transition-delay: 0.1s;
	/*transition: 0.2s;
	font-size: 20px;*/
	opacity: 1;
	transition: 0.2s;
	margin-left: 16px;
}